
cluster.name: 1data-es

node.name: {{ hn }}

path.data: {{ data_path }}

path.logs: {{ log_path }}

bootstrap.memory_lock: true

network.host: {{ net }}

http.port: 9200
transport.tcp.port: 9300
discovery.zen.ping.unicast.hosts: ["master-01:9300", "master-02:9300", "master-03:9300"]

http.cors.enabled: true
http.cors.allow-origin: '*'
http.cors.allow-headers: X-Requested-With, Content-Type, Content-Length, Authorization
http.cors.allow-methods: '*'
http.cors.allow-credentials: true
#action.auto_create_index: false
indices.query.bool.max_clause_count: 10240
action.destructive_requires_name: true
#xpack.security.enabled: false
node.master: true
node.data: false
node.ingest: false
discovery.zen.minimum_master_nodes: 2

#开启脚本内正则表达式支持：
script.painless.regex.enabled: true
